# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# MacOS
.DS_Store

# Logs
logs/
*.log

# Tailwind
*.css.map

# IDE/Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
